{% extends 'base.html' %}

{% block content %}
<h3>{% block title %} Namespace {{id+1}}: {{ ns.prefix() }} {% endblock %}</h3>

<form method="post">
    <div class="form-group">
        <label for="title">Prefix</label>
        <input type="text" name="title" placeholder="prefix" class="form-control" value="{{ ns.prefix() }}">
        </input>
    </div>

    <div class="form-group">
        <label for="content">URI</label>
        <input type="text" name="content" placeholder="url"  class="form-control" value ="{{ ns.uri() }}">
        </input>
    </div>
    <hr>
    <div class="form-group">
        <button type="submit" class="btn btn-primary">Submit</button>
    </div>
</form>
<br/>
<form action="{{ url_for('deleteNS', id=id) }}" method="POST">
    <input type="submit" value="Delete this namespace" class="btn btn-danger btn-sm" onclick="return confirm('Are you sure you want to delete this post?')">
</form>
{% endblock %}