{% extends 'base.html' %}
    {% block content %}
    <h3>{% block title %} X3ML Editor {% endblock %}</h3>
    <div class="container">
      <div class="row">
        <div  id="app" class="col-sm-10">
          <table class="table table-hover">
            <thead>
              <tr>
                <th scope="col">Mapping</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <tr v-for="(m, index) in x3ml.mappings" :key="index">
                <td>No. ${index+1}$: ${m.domain.source_node.text}$</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <script>
      var app = Vue.createApp({
          data() {return {x3ml:null}},
          // for global
          delimiters: ["${", "}$"],
          // for standalone
          compilerOptions: {
            delimiters: ["${", "}$"]
          },
          methods: {
            readX3ml(s) {this.x3ml = JSON.parse(s);} 
          },
          created() 
          {
            fetch("/mappings")
            .then((response) => response.json())
            .then((o) => this.x3ml = JSON.parse(o.data))
            .catch((err) => {console.error(err);})
           }
        }).mount('#app');
    </script>  
    {% endblock %}