{% extends 'base.html' %}
    {% block content %}
    <h3>{% block title %} X3ML Editor {% endblock %}</h3>
    <div class="accordion" id="Main">

      <div class="accordion-item">
        <h2 class="accordion-header">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#M2" aria-expanded="true" aria-controls="M2">
            Mappings
          </button>
        </h2>
        <div id="M2" class="accordion-collapse collapse hide">
          <div class="accordion-body">
            {% for m in data.mappings %}
            <h4>
              Mapping {{ loop.index }}
              <a class="btn btn-primary btn-sm" href="{{ url_for('editMapping', id = loop.index0) }}">Edit</a>
            </h4>
            {% endfor %}
          </div>
        </div>
      </div>   
    </div>
    {% endblock %}