.container {
  width: 90%;
}

#lidoEditor {
  height: 500px;
  width: 95%; /* Adjust width as needed */
  font-size: 12px;
  font-family: monospace;
}

#mapping {
  height: 300px;
  width: 100%; /* Adjust width as needed */
  font-size: 12px;
  font-family: monospace;
}

#rdfEditor {
  height: 500px;
  width: 95%; /* Adjust width as needed */
  font-size: 12px;
  font-family: monospace;
}

.styled select {
  width: 300px;
  height: 34px;
  font-size: 12px;
}

.styled {
  width: 500px;
  margin-bottom: 5px;
}