<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1">
  <script src="assets/node_modules/vue/dist/vue.global.js"></script>
  <script src="assets/node_modules/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
  <script src="assets/node_modules/ace-builds/src-min/ace.js"></script>
  <script src="assets/node_modules/ace-builds/src-min/ext-modelist.js"></script>
  <script src="assets/node_modules/jquery/dist/jquery.min.js"></script>
  <script src="assets/script.js"></script>

  <link rel="stylesheet" href="assets/node_modules/bootstrap/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="assets/lidostyle.css">

  <title>X3ML Editor v{{version}}</title>
  <datalist id="DLCidocClasses"></datalist>
  <datalist id="DLCidocProperties"></datalist>
  <datalist id="DLLidoClasses"></datalist>
  <style>
    .btn {
      margin-left: 0.8em;
      margin-top: 0.2em;
    }

    h4 {
      padding: 0.2em;
    }

    .row {
      --bs-gutter-x: 2px;
    }
  </style>
</head>

<body>
  <!-- Main dialog Item connected to vue-app -->
  <div id="app" class=".container-fluid">
    <div>
      <p class="fw-lighter fs-6" style="background-color: rgb(212, 226, 231)">
        This is an online editor for Lido-to-RDF mappings (x3ml). Mapping rules are editable in the left section. Two text fields for applying the rules are shown on the right.<br>
        The top-right field shows the result of the mapping for the source data shown underneath.
        <a href="https://www.gbv.de/impressum">imprint</a> | <a href="https://www.gbv.de/kontakt">contact</a> | <a href="barriere">barrier-free</a>
      </p>
    </div>
    <!-- Condition editor dialog (modal )-->
    <div class="modal fade" ref="modal" id="conditionEditor" data-keyboard="false" data-backdrop="static" style="overflow-y: scroll; height:400px; width: 100%;">
      <div class="modal-dialog modal-xl">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Condition editor</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <div v-for="(item, i) in conditions">
              <div class="row  no-gutters">
                <div class="col-sm-2">Condition path-value:</div>
                <div class="col-sm-7">
                  <input class="form-control" type="text" v-model="item.xpath">
                </div>
                <div class="col-sm-2">
                  <input class="form-control" type="text" v-model="item.value">
                </div>
                <div class="col-sm-1">
                  <button type="button" class="btn btn-primary btn-sm" @click="conditions.splice(i, 1)">Delete</button>
                </div>
              </div>
            </div>
            <button type="button" class="btn btn-primary btn-sm" onclick="addCondition(app.conditions)">Add condition</button>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-primary btn-sm" data-bs-dismiss="modal">Dimiss</button>
            <form novalidate @submit.prevent="applyConditionChanges">
              <input type="submit" class="btn btn-primary btn-sm" data-bs-dismiss="modal" value="Apply" />
            </form>
          </div>
        </div>
      </div>
    </div>
    <!-- Upload dialog for X3ML files (modal)-->
    <div class="modal fade" id="uploadX3mlModal" tabindex="-1" aria-labelledby="uploadX3mlModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="uploadX3mlModalLabel">Uploading X3ml mappings</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <form novalidate @submit.prevent="uploadX3ml">
              <div class="input-group mb-3">
                <input type="file" class="form-control" @change="saveX3mlUrl" />&nbsp;
                <input type="submit" class="btn btn-primary" data-bs-dismiss="modal" value="Open" />
              </div>
            </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-primary btn-sm" data-bs-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>
    <!-- Upload dialog for Lido files (modal) -->
    <div class="modal fade" id="uploadLidoModal" tabindex="-1" aria-labelledby="uploadLidoModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="uploadLidoModalLabel">Upload LIDO/XML file</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <form novalidate @submit.prevent="uploadLido">
              <div class="input-group mb-3">
                <input type="file" class="form-control" @change="saveLidoUrl" />&nbsp;
                <input type="submit" class="btn btn-primary" data-bs-dismiss="modal" value="Open" />
              </div>
            </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-primary btn-sm" data-bs-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>
    <!-- Main dialog -->
    <div class="row">
      <div class="col-5">
        <div> Mappings (x3ml):<br>
          <button type="button" class="btn btn-primary btn-sm " @click="addMapping" title="Add new mapping.">Add mapping</button>
          <button type="button" class="btn btn-primary btn-sm" @click="clearMappings" title="Remove all mappings.">Clear all</button>
          <button type="button" class="btn btn-primary btn-sm" @click="resetMappings" title="Load default mappings.">Load default</button>
          <button type="button" class="btn btn-primary btn-sm" data-bs-toggle="modal" data-bs-target="#uploadX3mlModal" title="Upload mappings.">Upload</button>
          <button type="button" class="btn btn-primary btn-sm" @click="downloadMappings" title="Download mappings.">Download</button>
        </div>
        <div id="acc" class="accordion accordion-flush" style="overflow-y: scroll; height:1000px; width: 100%;">
          <div class="accordion-item" v-for="(mapping, i) in x3ml.mappings" :key="i">
            <h2 class="accordion-header" :id="'M' + i">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" :data-bs-target="'#C' + i" aria-expanded="false" :aria-controls="'C' + i">
                Mapping ${i+1}$ from: "${mapping.domain.sourceNode.text}$"
              </button>
            </h2>
            <div :id="'C' + i" class="accordion-collapse collapse" :aria-labelledby="'M' + i" data-bs-parent="#acc">
              <div class="accordion-body">

                <div class="container-fluid">
                  <label for="fname">Path:</label>
                  <input class="form-control" list="DLLidoClasses" type="text" name="S-path" :id="i" v-model="mapping.domain.sourceNode.text">
                  <label for="lname">Entity:</label>
                  <input class="form-control" list="DLCidocClasses" type="text" name="S-type" :id="i" v-model="mapping.domain.targetNode.entity.type">
                  <p>
                    <button type="button" class="btn btn-primary btn-sm" @click="openMappingConditionEditor" :iM="i" title="Opens the condition editor.">Conditions</button>
                    <button type="button" class="btn btn-primary btn-sm" @click="addLink" :iM="i" title="Add a new link to the rule.">Add Link</button>
                    <button type="button" class="btn btn-primary btn-sm" @click="deleteMapping" :iM="i" title="Delete this rule.">Delete</button>
                  <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" :id="'Mapskip' + i" v-model="mapping.attributes.skip">
                    <label class="form-check-label" :for="'Mapskip' + i">Skip</label>
                  </div>

                </div>

                <div class="accordion accordion-flush" :id="'LA' + i">
                  <div class="accordion-item" v-for="(link, j) in mapping.links" :key="j">
                    <h2 class="accordion-header" :id="'L' + j">
                      <button class="accordion-button" type="button" data-bs-toggle="collapse" :data-bs-target="'#D' + j" aria-expanded="false" :aria-controls="'D' + j">
                        Link ${i+1}$-${j+1}$ to: "${link.path.sourceRelation.relation.text}$"
                      </button>
                    </h2>
                    <div :id="'D' + j" class="accordion-collapse collapse hide" :aria-labelledby="'L' + j" :data-bs-parent="'#LA' + i">
                      <div class="accordion-body">
                        <form method="post">
                          <label for="fname">Path:</label>
                          <input class="form-control" list="DLLidoClasses" type="text" :pid="i" :id="j" v-model="link.path.sourceRelation.relation.text" v-on:input="applyPathChange">
                          <label for="lname">Property:</label>
                          <input class="form-control" list="DLCidocProperties" type="text" name="P-type" :id="j" v-model="link.path.targetRelation.relationship.text">
                          <label for="lname">Entity:</label>
                          <input class="form-control" list="DLCidocClasses" type="text" name="P-type" :id="j" v-model="link.range.targetNode.entity.type">
                          <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" :id="'LinkSkip' + i +'-' + j" v-model="link.attributes.skip">
                            <label class="form-check-label" :for="'LinkSkip' + i +'-' + j">Skip</label>
                          </div>
                          <br />
                          <button type="button" class="btn btn-primary btn-sm" @click="openLinkConditionEditor" :iM="i" :iL="j" title="Open the condition dialog.">Conditions</button>
                          <button type="button" class="btn btn-primary btn-sm" @click="deleteLink" :iM="i" :iL="j" title="Delete this link.">Delete</button>
                        </form>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="row">
          <div class="input-group">
            <button type="button" class="btn btn-primary btn-sm" onclick="runMappings()">Apply mappings</button>&nbsp;
            <div class="styled">
              <select class="form-control" v-model="formatKey">
                <option v-for="(item, index) in modeFormatKeys.keys()" :value="item" :key="index">
                  <span class="option-label"> output format: ${item}$ </span>
                </option>
              </select>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="checkbox" v-model="useBlankNode" onchange="runMappings()" id="flexCheckDefault">
              <label class="form-check-label" for="flexCheckDefault">Use BNodes</label>
            </div>

          </div>
          <p>
          <div id="rdfEditor"></div>
        </div>

        <div class="row">
          <div>
            Source (lido/xml):
            <button type="button" class="btn btn-primary btn-sm" data-bs-toggle="modal" data-bs-target="#uploadLidoModal" title="Upload an Lido test file.">Upload</button>
            <button type="button" class="btn btn-primary btn-sm" onclick="getDfltLido()" title="Load the default test file.">Default</button>
          </div>
          <div id="lidoEditor"></div>
        </div>

      </div>
    </div>
  </div>


  <script>
    function createCidocOptions(optionValues, elementId) {
      var elem = document.getElementById(elementId);
      optionValues.forEach(x => {
        option = document.createElement('option');
        option.label = x.entity;
        option.value = x.prefix + ':' + x.entity;
        elem.appendChild(option);
      });
    }
    function createLidoOptions(optionValues, elementId) {
      var elem = document.getElementById(elementId);
      optionValues.forEach(x => {
        option = document.createElement('option');
        option.label = x;
        option.value = x;
        elem.appendChild(option);
      });
    }
    function getCidocLabel() {
      fetch('assets/cidoc_label.json')
        .then(res => res.json())
        .then(data => {
          createCidocOptions(data.classes, 'DLCidocClasses')
          createCidocOptions(data.properties, 'DLCidocProperties')
        })
        .catch(function (err) {
          console.log('error: ' + err);
        });
    }

    function getLidoLabel() {
      fetch('assets/lido_label.json')
        .then(res => res.json())
        .then(data => {
          createLidoOptions(data.pathes, 'DLLidoClasses')
        })
        .catch(function (err) {
          console.log('error: ' + err);
        });
    }
    var app = Vue.createApp({
      data() {
        return {
          x3ml: {},
          lido: '',
          x3file: null,
          lidoURL: null,
          activeM: -1,
          activeL: -1,
          conditions: [],
          mode: '',
          modeFormatKeys: new Map(),
          tmp: ["abc", "abcd", "xxxx"],
          formatKey: 'n3',
          useBlankNode: false
        }
      },
      delimiters: ["${", "}$"], // for global
      compilerOptions: { delimiters: ["${", "}$"] }, // for standalone
      methods: {
        applyPathChange(event) {
          let attrs = event.target.attributes;
          let i = parseInt(attrs.id.value);
          let j = parseInt(attrs.pid.value);
          let link = this.x3ml.mappings[j].links[i];
          link.range.sourceNode.text = event.target.value
        },
        saveX3mlUrl(event) {
          // Saves x3ml event data
          this.x3file = event.target.files[0];
        },
        saveLidoUrl(event) {
          // Saves lido event data
          this.lidoURL = event.target.files[0];
        },
        uploadX3ml() {
          // Uploads data from the x3ml URL and reloads server data
          if (this.x3file) {
            const pText = this.x3file.text();
            pText.then((x3mlStr) => {
              post('upload_mapping', { type: 'upload_mapping', data: x3mlStr })
                .then((response) => response.json())
                .then((jsData) => {
                  this.x3ml = JSON.parse(jsData.jsonX3ml);
                  rdfEditor.setValue('', -1);
                })
                .catch((err) => { console.error(err); });
            });
          }
        },
        applyConditionChanges() {
          if (this.mode == 'map') {
            // Applies condition changes for a mapping
            domain = this.x3ml.mappings[this.activeM].domain
            domain.targetNode.conditions = this.conditions;
          }
          else if (this.mode == 'link') {
            // Applies condition changes for a link
            link = this.x3ml.mappings[this.activeM].links[this.activeL]
            link.path.targetRelation.conditions = this.conditions;
          }
          rdfEditor.setValue('', -1);
          this.mode = ''
          this.activeL = -1;
          this.activeM = -1;
          this.conditions = [];
        },

        downloadMappings() {
          post('json_to_x3ml', { x3ml: this.x3ml })
            .then(res => res.json())
            .then(json => {
              x3ml_str = json.x3ml;
              const url = window.URL.createObjectURL(new Blob([x3ml_str]));
              const link = document.createElement('a');
              link.href = url;
              link.setAttribute('download', 'mapping.x3ml');
              document.body.appendChild(link);
              link.click();
              link.parentNode.removeChild(link);
            })
            .catch(() => alert('An error occurred while downloading the mapping file.'));
        },

        resetMappings() {
          rdfEditor.setValue('', -1);
          this.getDfltX3ml();
        },
        clearMappings() {
          // Post the deletion of all mapping and reloads server data
          rdfEditor.setValue('', -1);
          this.x3ml.mappings = [];
        },
        uploadLido() {
          // Loads text from the lido URL into the Lido editor
          if (this.lidoURL) {
            const pText = this.lidoURL.text();
            pText.then((lidoStr) => {
              lidoEditor.setValue(lidoStr, -1)
              rdfEditor.setValue('', -1);
              this.lidoURL = null
            });
          }
        },
        getDfltX3ml() {
          // Gets the default x3ml file from the server
          get("default_x3ml")
            .then((response) => response.json())
            .then((jsData) => {
              this.x3ml = JSON.parse(jsData.jsonX3ml);
              rdfEditor.setValue('', -1);
            })
            .catch((err) => { console.error(err); });
        },
        addMapping(event) {
          this.x3ml.mappings.push({
            attributes: {},
            domain: {
              sourceNode: { text: '', attributes: {} },
              targetNode: { entity: { type: '' }, conditions: [] }
            },
            links: []
          });

          rdfEditor.setValue('', -1);
        },
        deleteMapping(event) {
          this.x3ml.mappings.splice(event.target.attributes.iM.value, 1);
          rdfEditor.setValue('', -1);
        },
        openLinkConditionEditor(event) {
          // Opens the condition editor for a link
          attrs = event.target.attributes;
          if (attrs.iM && attrs.iL) {
            this.mode = 'link';
            this.activeM = parseInt(attrs.iM.value);
            this.activeL = parseInt(attrs.iL.value);
            link = this.x3ml.mappings[this.activeM].links[this.activeL]
            this.conditions = clone(link.path.targetRelation.conditions);
            $('#conditionEditor').modal('show');
          }
        },
        openMappingConditionEditor(event) {
          // Opens the condition editor for a mapping
          attrs = event.target.attributes;
          if (attrs.iM) {
            this.mode = 'map';
            this.activeM = parseInt(attrs.iM.value);
            domain = this.x3ml.mappings[this.activeM].domain
            this.conditions = clone(domain.targetNode.conditions);
            $('#conditionEditor').modal('show');
          }
        },
        deleteLink(event) {
          attrs = event.target.attributes;
          if (attrs.iM && attrs.iL) {
            mIndex = attrs.iM.value;
            lIndex = attrs.iL.value;
            this.x3ml.mappings[mIndex].links.splice(lIndex, 1);
            rdfEditor.setValue('', -1);
          }
        },
        addLink(event) {
          attrs = event.target.attributes;
          if (attrs.iM) {
            mIndex = attrs.iM.value;
            mapping = this.x3ml.mappings[mIndex];

            // Create a default link
            mapping.links.push({
              attributes: {}, path: {
                sourceRelation: { relation: { text: '' } },
                targetRelation: { relationship: { text: '' }, conditions: [] }
              }, range: {
                targetNode: { entity: { type: '' } }
              }
            });
            rdfEditor.setValue('', -1);
          }
        }
      },
      mounted() {
        document.onreadystatechange = () => {
          if (document.readyState == "complete") {
            console.log('ready');
          }
        }
      },
      created() {
        getCidocLabel()
        getLidoLabel()
        getDfltLido();
        this.getDfltX3ml();
        this.modeFormatKeys.set("turtle", "ttl");
        this.modeFormatKeys.set("nt", "ttl");
        this.modeFormatKeys.set("n3", "ttl");
        this.modeFormatKeys.set("json-ld", "json");
        this.modeFormatKeys.set("xml", "xml");
      }
    }).mount('#app');

    function makeEditor(label, fmt = "ace/mode/xml") {
      // Returns an ace editor object
      var ed = ace.edit(label);
      //ed.setTheme("") //ace/theme/monokai");
      ed.session.setMode(fmt);
      ed.setPrintMarginColumn(-1);
      return ed;
    }


    // Creator editors
    var lidoEditor = makeEditor("lidoEditor");
    lidoEditor.setValue(app.lido, -1);
    var rdfEditor = makeEditor("rdfEditor", "ace/mode/turtle");
    rdfEditor.setValue('', -1)

    function getDfltLido() {
      // Loads Lido data from server into the source editor
      get("default_lido")
        .then((response) => response.json())
        .then((jsData) => { lidoEditor.setValue(jsData.lidoData, -1); })
        .catch((err) => { console.error(err); });
    }

    var modelist = ace.require("ace/ext/modelist")
    function runMappings() {
      // Triggers the transformation lido + x3ml => ttl
      // and loads the result into the RDF editor.
      format = app.formatKey
      data = { type: '/run_mappings', data: lidoEditor.getValue(), x3ml: app.x3ml, format: format, useBlankNode: app.useBlankNode }
      post('run_mappings', data)
        .then(res => res.json())
        .then(s => {
          format = s.format;
          var mode = modelist.getModeForPath("dummy." + app.modeFormatKeys.get(format));
          rdfEditor.session.setMode(mode.mode);
          rdfEditor.setValue(s.text, -1);
        });
    }


    function addCondition(conditions) {
      // Appends a new condition: use a copy of the 1. entry or a default entry for no recent entries
      if (conditions.length > 0) {
        //  Clone the last condition
        conditions.push(clone(conditions.at(-1)));
      }
      else {
        // Create a default condition
        conditions.push({ attributes: {}, tag: "equals", value: "a value", xpath: "a path" });
      }
    }

  </script>
</body>

</html>